<%- include("templates/head", {titulo: titulo, tituloHead: tituloHead}) %>
        <div class="card-group">   
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">Tanque 1</h5>
                <div class="card-body">
                    <div class="chart-container">   
                        <canvas id="myChart" width="400px" height="300px"></canvas>
                    </div>
                </div>
            </div>
<%- include("templates/footer") %>

<script>
    let ctx= document.getElementById("myChart").getContext("2d")
    let myChart = new Chart(ctx,{
        type: "radar",
        data:{
            labels : ['sensor 1','sensor 2','sensor 3'],
            datasets:[{
                label: 'valor pH',
                data:[7.4,6.5,8],
                backgroundColor: [
                    'rgb(255, 0, 0, 0.5)',
                    'rgb(0, 204, 102, 0.5)',
                    'rgb(0, 0, 255, 0.5)'
                ]              
            }]                
        },
        options: {
    scale: {
        min: 0,
        max: 14,
    },
},
        
    });
</script>