<div class="card-group">        
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Tanque 1</div>
        <div class="card-body text-dark">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/317487710837407754/907405957011755008/revisar.png" alt="Alerta">
            <p class="card-text">Este es un test del mensaje</p>
            <a href="/tanque1" class="btn btn-secondary">Ver</a>
        </div>
      </div>
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Tanque 2</div>
        <div class="card-body text-dark">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/317487710837407754/907405960513982524/ok.png" alt="Alerta">
            <p class="card-text">Este es un test del mensaje</p>
            <a href="/tanque2" class="btn btn-secondary">Ver</a>
        </div>
      </div>
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Tanque 3</div>
        <div class="card-body text-dark">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/317487710837407754/907405958383284324/alerta.png" alt="Alerta">
            <p class="card-text">Este es un test del mensaje</p>
            <a href="/tanque3" class="btn btn-secondary">Ver</a>
        </div>
      </div>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Tanque 4</div>
        <div class="card-body text-dark">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/317487710837407754/907405957011755008/revisar.png" alt="Alerta">
            <p class="card-text">El tanque 4 esta levemente desviado.</p>
            <a href="/tanque4" class="btn btn-secondary">Ver</a>
        </div>
      </div>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Tanque 5</div>
        <div class="card-body text-dark">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/317487710837407754/907405960513982524/ok.png" alt="Alerta">
            <p class="card-text">El tanque 5 esta en pH normal.</p>
            <a href="/tanque5" class="btn btn-secondary">Ver</a>
        </div>
      </div>
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Tanque 6</div>
        <div class="card-body text-dark">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/317487710837407754/907405958383284324/alerta.png" alt="Alerta">
            <p class="card-text">El tanque 6 necesita revision!</p>
            <a href="/tanque6" class="btn btn-secondary">Ver</a>
        </div>
      </div>
</div>
