<div class="container">
    <br>
        <img style="margin: 5px auto; display: block;" title="Logo" src="http://www.unla.edu.ar/images/logo_web.jpg" alt="Logo" width="81" height="90">
    <br>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/graficos">DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/planta1">Broker MQTT</a>
        </li>
    </ul>
</div>

